<div>
    <% if(a){ %><div><%= a %></div><% } %>
    <% if(a){ %><% } else { %><div>alternate</div><% } %>
    <div attr="<% if(a){ %><div><%= a %></div><% } %>">hello</div>
    <% if(a){ %><%= a %><% } %>
</div>