<div>
    <% (function(){ var item;for(var index=0; index<a.length; ++index){item=a[index];%><ul><%= index %><% (function(){ var _item;for(var index=0; index<item.length; ++index){_item=item[index];%><li><%= _item %></li>
<%}})()%></ul>
<%}})()%>
</div>