<div>
    <% (function(){ var item;for(var index=0; index<a.length; ++index){item=a[index];%><li><%= index %> - <% if(item){ %><div><%= item %></div><% } else { %><%= item %><% } %></li>
<%}})()%>
</div>